<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810346942781-jfjpphv647rd35bdkso5tqcultt9n5nh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810346942781-jfjpphv647rd35bdkso5tqcultt9n5nh</string>
	<key>API_KEY</key>
	<string>AIzaSyAP-satAN8oBhW5hIvTBX7-P4ErTWyeuJU</string>
	<key>GCM_SENDER_ID</key>
	<string>810346942781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.northeastern.ashish.InstaPicture</string>
	<key>PROJECT_ID</key>
	<string>spring2023-4c7b8</string>
	<key>STORAGE_BUCKET</key>
	<string>spring2023-4c7b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810346942781:ios:73c6d7b9d6f6d989baf554</string>
</dict>
</plist>